<a href="https://colab.research.google.com/github/austinAbraham/CE888/blob/development/Lab6/task7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn import cluster, datasets, metrics
import seaborn as sns

In [4]:
df_country = pd.read_csv('https://raw.githubusercontent.com/sagihaider/CE888_2021/main/Lab_6/Data/Country-data.csv', header=0, index_col=None)
df_country.head(5)

               country  child_mort  exports  ...  life_expec  total_fer   gdpp
0          Afghanistan        90.2     10.0  ...        56.2       5.82    553
1              Albania        16.6     28.0  ...        76.3       1.65   4090
2              Algeria        27.3     38.4  ...        76.5       2.89   4460
3               Angola       119.0     62.3  ...        60.1       6.16   3530
4  Antigua and Barbuda        10.3     45.5  ...        76.8       2.13  12200

[5 rows x 10 columns]

In [9]:
print("Shape of data:",df_country.shape)

Shape of data: (167, 10)

In [11]:
x_country, x_data = df_country.iloc[:, 0:1], df_country.iloc[:, 1:10]
print(x_country.head(5))
print(x_data.head(5))

               country
0          Afghanistan
1              Albania
2              Algeria
3               Angola
4  Antigua and Barbuda
   child_mort  exports  health  ...  life_expec  total_fer   gdpp
0        90.2     10.0    7.58  ...        56.2       5.82    553
1        16.6     28.0    6.55  ...        76.3       1.65   4090
2        27.3     38.4    4.17  ...        76.5       2.89   4460
3       119.0     62.3    2.85  ...        60.1       6.16   3530
4        10.3     45.5    6.03  ...        76.8       2.13  12200

[5 rows x 9 columns]

In [13]:
km_country = cluster.KMeans(n_clusters=3)
km_country.fit(x_data)
print(km_country.labels_)

[0 0 0 0 0 0 0 2 2 0 2 2 0 0 0 2 0 0 0 0 0 0 0 1 0 0 0 0 0 2 0 0 0 0 0 0 0
 0 0 0 0 0 2 2 2 0 0 0 0 2 0 0 0 2 2 0 0 0 2 0 2 0 0 0 0 0 0 0 2 0 0 0 0 2
 2 2 0 2 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 2
 2 0 0 1 2 0 0 0 0 0 0 2 1 0 0 0 0 2 0 0 0 0 1 0 2 0 0 2 2 0 0 0 0 2 1 0 0
 0 0 0 0 0 0 0 0 0 2 2 2 0 0 0 0 0 0 0]

In [28]:
df_labelled = df_country.copy()
df_labelled['label'] = km_country.labels_
print(df_labelled.head(5))
df_labelled['label'].value_counts()

               country  child_mort  exports  ...  total_fer   gdpp  label
0          Afghanistan        90.2     10.0  ...       5.82    553      0
1              Albania        16.6     28.0  ...       1.65   4090      0
2              Algeria        27.3     38.4  ...       2.89   4460      0
3               Angola       119.0     62.3  ...       6.16   3530      0
4  Antigua and Barbuda        10.3     45.5  ...       2.13  12200      0

[5 rows x 11 columns]

0    128
2     32
1      7
Name: label, dtype: int64

In [38]:
df_labelled[['label']] = df_labelled['label'].replace([0,1,2], ['under-developing country', 'developing country', 'developed country'])
df_labelled[df_labelled['label'] == 'developed country']

                  country  child_mort  ...   gdpp              label
7               Australia         4.8  ...  51900  developed country
8                 Austria         4.3  ...  46900  developed country
10                Bahamas        13.8  ...  28000  developed country
11                Bahrain         8.6  ...  20700  developed country
15                Belgium         4.5  ...  44400  developed country
29                 Canada         5.6  ...  47400  developed country
42                 Cyprus         3.6  ...  30800  developed country
43         Czech Republic         3.4  ...  19800  developed country
44                Denmark         4.1  ...  58000  developed country
49      Equatorial Guinea       111.0  ...  17100  developed country
53                Finland         3.0  ...  46200  developed country
54                 France         4.2  ...  40600  developed country
58                Germany         4.2  ...  41800  developed country
60                 Greece         3.9  ...  26900  developed country
68                Iceland         2.6  ...  41900  developed country
73                Ireland         4.2  ...  48700  developed country
74                 Israel         4.6  ...  30600  developed country
75                  Italy         4.0  ...  35800  developed country
77                  Japan         3.2  ...  44500  developed country
98                  Malta         6.8  ...  21100  developed country
110           Netherlands         4.5  ...  50300  developed country
111           New Zealand         6.2  ...  33700  developed country
115                  Oman        11.7  ...  19300  developed country
122              Portugal         3.9  ...  22500  developed country
128          Saudi Arabia        15.7  ...  19300  developed country
135              Slovenia         3.2  ...  23400  developed country
138           South Korea         4.1  ...  22100  developed country
139                 Spain         3.8  ...  30700  developed country
144                Sweden         3.0  ...  52100  developed country
157  United Arab Emirates         8.6  ...  35000  developed country
158        United Kingdom         5.2  ...  38900  developed country
159         United States         7.3  ...  48400  developed country

[32 rows x 11 columns]